-
  var teams = [
    { img: './assets/images/home/team/Buro architects.svg',
      subtitle: 'Урбаністика та містобудівне проектування',
      text: 'Настав час виходити за межі котеджних містечок і формувати повноцінні райони нового типу. Простори, де архітектура стає продовженням природи, а баланс флори й фауни задає природний ритм життя. Зелень тут не декор, а жива система, що формує відчуття гармонії та присутності життя.',
    },
    { img: './assets/images/home/team/Archimatika.svg',
      subtitle: 'Архітектура та планування',
      text: `
        Вода стає центральним елементом — потужним магнітом, який притягує енергію, рух і людей. Вона підсилює екосистему, об’єднує простір і створює додаткову силу природи.
      `,
    },
    { img: './assets/images/home/team/Yod group.svg',
      subtitle: 'Дизайн загальних, публічних зон',
      text: `
        Ми проєктуємо середовище для здорового й активного життя родини зі здоровими цінностями — простори для руху, відновлення й балансу. Час будувати не просто будинки, а нове життя сучасного формату, де природа, людина й архітектура з’єднані в єдину систему.
      `,
    },
    { img: './assets/images/home/team/Expolight-logo 1_layerstyle.svg',
      subtitle: 'Архітектура світла',
      text: `
        Настав час виходити за межі котеджних містечок і формувати повноцінні райони нового типу. Простори, де архітектура стає продовженням природи, а баланс флори й фауни задає природний ритм життя. Зелень тут не декор, а жива система, що формує відчуття гармонії та присутності життя.
      `,
    }
  ]
#team.team
  .team__bg
    img(src="./assets/images/home/team/BG.jpg", alt="", srcset="" loading="lazy")
  .team__content
    .team__top-block
      .team__title.text-style-1920-h-1.text-style-768-h-1.text-style-375-h-1.color-blue Команда проекту
      .team__description 
        p Ми відмовилися від мислення дрібними проєктами. Наш вибір — масштаб, здатний змінити уявлення про класичний заміський девелопмент. Ми створюємо не окремі об’єкти, а цілісні простори для життя, що працюють як єдиний живий організм.
        p Настав час виходити за межі котеджних містечок і формувати повноцінні райони нового типу. Простори, де архітектура стає продовженням природи, а баланс флори й фауни задає природний ритм життя. Зелень тут не декор, а жива система, що формує відчуття гармонії та присутності життя.
        p Вода стає центральним елементом — потужним магнітом, який притягує енергію, рух і людей. Вона підсилює екосистему, об’єднує простір і створює додаткову силу природи.
        p Ми проєктуємо середовище для здорового й активного життя родини зі здоровими цінностями — простори для руху, відновлення й балансу. Час будувати не просто будинки, а нове життя сучасного формату, де природа, людина й архітектура з’єднані в єдину систему.
      .team__logo
        <svg width="305" height="72" viewBox="0 0 305 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_515_1533)">
            <path d="M9.8012 56.4577C7.08387 56.4577 4.77496 55.5004 2.8587 53.6017C0.958143 51.7029 0 49.3961 0 46.697V24.3824C0 21.6676 0.958158 19.3608 2.87442 17.4464C4.79068 15.5476 7.09957 14.5903 9.78547 14.5903C12.4714 14.5903 14.8118 15.5476 16.7123 17.4621C18.6129 19.3765 19.5553 21.6833 19.5553 24.3824V29.0431H13.1625V24.2568C13.1625 23.2682 12.817 22.4365 12.1102 21.7461C11.4034 21.0556 10.5708 20.6947 9.597 20.6947C8.62316 20.6947 7.79074 21.0399 7.09963 21.7461C6.42422 22.4522 6.07863 23.2839 6.07863 24.2568V46.6342C6.07863 47.6228 6.42422 48.4389 7.09963 49.1294C7.77503 49.8041 8.62316 50.1493 9.597 50.1493C10.5708 50.1493 11.4191 49.8041 12.1102 49.1294C12.8013 48.4546 13.1625 47.6071 13.1625 46.6342V40.985H19.5553V46.697C19.5553 49.4118 18.5972 51.7186 16.6809 53.6174C14.7646 55.5161 12.4714 56.4577 9.78547 56.4577H9.8012Z" fill="#33414B"/>
            <path d="M37.6498 24.1933C37.6498 23.2046 37.3043 22.3887 36.6289 21.6982C35.9535 21.0234 35.1052 20.6782 34.1314 20.6782C33.1576 20.6782 32.3094 21.0234 31.6183 21.6982C30.9115 22.373 30.566 23.2203 30.566 24.1933V46.5707C30.566 47.5593 30.9115 48.3753 31.6183 49.0658C32.3251 49.7406 33.1576 50.0857 34.1314 50.0857C35.1052 50.0857 35.9378 49.7406 36.6289 49.0658C37.3043 48.391 37.6498 47.5436 37.6498 46.5707V24.1933ZM34.2885 14.5425C37.0058 14.5425 39.3148 15.4996 41.231 17.4141C43.1316 19.3286 44.0897 21.6354 44.0897 24.3345V46.6491C44.0897 49.3639 43.1316 51.6706 41.2153 53.5851C39.299 55.4839 36.9901 56.4412 34.2885 56.4412C31.5869 56.4412 29.2622 55.484 27.3617 53.5695C25.4611 51.655 24.5187 49.3482 24.5187 46.6491V24.3345C24.5187 21.6197 25.4768 19.3129 27.3931 17.3984C29.3094 15.4996 31.6026 14.5425 34.2885 14.5425Z" fill="#33414B"/>
            <path d="M56.4354 15.0273L64.6346 42.5204V15.0273H70.8075V55.9374H64.179L55.6815 29.7467V55.9374H49.5087V15.0273H56.4354Z" fill="#33414B"/>
            <path d="M86.0119 56.4577C83.2946 56.4577 80.9857 55.5004 79.0694 53.6017C77.1688 51.7029 76.2107 49.3961 76.2107 46.697V24.3824C76.2107 21.6676 77.1688 19.3608 79.085 17.4464C81.0013 15.5476 83.3103 14.5903 86.0119 14.5903C88.7135 14.5903 91.0381 15.5476 92.9387 17.4621C94.8392 19.3765 95.7816 21.6833 95.7816 24.3824V29.0431H89.3889V24.2568C89.3889 23.2682 89.0433 22.4365 88.3365 21.7461C87.6297 21.0556 86.7973 20.6947 85.8234 20.6947C84.8496 20.6947 84.0171 21.0399 83.3259 21.7461C82.6505 22.4522 82.305 23.2839 82.305 24.2568V46.6342C82.305 47.6228 82.6505 48.4389 83.3259 49.1294C84.0014 49.8041 84.8496 50.1493 85.8234 50.1493C86.7973 50.1493 87.6454 49.8041 88.3365 49.1294C89.0276 48.4546 89.3889 47.6071 89.3889 46.6342V40.985H95.7816V46.697C95.7816 49.4118 94.8236 51.7186 92.9073 53.6174C90.9911 55.5161 88.6978 56.4577 86.0119 56.4577Z" fill="#33414B"/>
            <path d="M100.839 15.0273H118.4V21.2258H107.012V32.3832H115.337V38.5973H107.012V49.7546H118.4V55.9531H100.839V15.0273Z" fill="#33414B"/>
            <path d="M136.07 24.9136C136.07 23.8465 135.756 22.9834 135.112 22.34C134.468 21.6809 133.62 21.3513 132.552 21.3513H128.83V34.4389H132.552C133.542 34.4389 134.358 34.0936 135.049 33.3874C135.741 32.6812 136.07 31.8496 136.07 30.8767V24.8979V24.9136ZM132.379 15.0587C135.379 15.0587 137.783 16.0002 139.557 17.899C141.207 19.7036 142.039 22.0105 142.039 24.8194V30.7511C142.039 33.4502 141.097 35.757 139.212 37.6715C137.327 39.586 135.05 40.5431 132.364 40.5431H128.798V55.9374H122.625V15.043H132.364L132.379 15.0587Z" fill="#33414B"/>
            <path d="M146.296 21.2581V15.0596H165.553V21.2581H159.034V55.9383H152.861V21.2581H146.296Z" fill="#33414B"/>
            <g clip-path="url(#clip1_515_1533)">
              <path d="M194.579 56.4577C191.862 56.4577 189.553 55.5004 187.637 53.5859C185.736 51.6715 184.778 49.3804 184.778 46.697V24.3824C184.778 21.6676 185.736 19.3608 187.652 17.4464C189.569 15.5476 191.878 14.5903 194.579 14.5903C197.281 14.5903 199.605 15.5476 201.506 17.4621C203.407 19.3765 204.349 21.6833 204.349 24.3824V29.0431H197.956V24.2568C197.956 23.2682 197.611 22.4365 196.904 21.7461C196.197 21.0556 195.365 20.6947 194.391 20.6947C193.417 20.6947 192.584 21.0399 191.893 21.7461C191.218 22.4522 190.872 23.2839 190.872 24.2568V46.6342C190.872 47.6228 191.218 48.4389 191.893 49.1294C192.569 49.8041 193.417 50.1493 194.391 50.1493C195.365 50.1493 196.213 49.8041 196.904 49.1294C197.611 48.4546 197.956 47.6228 197.956 46.6342V38.5997H194.532V32.4012H204.365V46.6813C204.365 49.3961 203.407 51.7029 201.49 53.6017C199.574 55.5004 197.281 56.442 194.595 56.442L194.579 56.4577Z" fill="#33414B"/>
              <path d="M223.119 24.9145C223.119 22.5449 221.941 21.3522 219.601 21.3522H215.878V34.4398H219.601C220.59 34.4398 221.407 34.0945 222.098 33.3883C222.789 32.6821 223.119 31.8505 223.119 30.8776V24.8987V24.9145ZM219.428 15.0596C222.868 15.0596 225.397 16.0011 226.999 17.8999C228.412 19.5476 229.119 21.8544 229.119 24.8203V30.752C229.119 33.6394 228.02 36.0874 225.821 38.096L230.391 55.9383H223.716L219.978 40.544H215.862V55.9383H209.689V15.0596H219.428Z" fill="#33414B"/>
              <path d="M248.674 24.1933C248.674 23.2046 248.329 22.3887 247.653 21.6982C246.978 21.0078 246.13 20.6782 245.156 20.6782C244.182 20.6782 243.334 21.0234 242.643 21.6982C241.936 22.373 241.591 23.2203 241.591 24.1933V46.5707C241.591 47.5593 241.936 48.3753 242.643 49.0658C243.35 49.7563 244.182 50.0857 245.156 50.0857C246.13 50.0857 246.962 49.7406 247.653 49.0658C248.345 48.391 248.674 47.5436 248.674 46.5707V24.1933ZM245.313 14.5425C248.03 14.5425 250.339 15.4996 252.256 17.4141C254.156 19.3286 255.114 21.6354 255.114 24.3345V46.6491C255.114 49.3639 254.156 51.6706 252.24 53.5851C250.324 55.4839 248.015 56.4412 245.313 56.4412C242.612 56.4412 240.287 55.484 238.386 53.5695C236.486 51.655 235.543 49.3482 235.543 46.6491V24.3345C235.543 21.6197 236.501 19.3129 238.418 17.3984C240.334 15.4996 242.627 14.5425 245.313 14.5425Z" fill="#33414B"/>
              <path d="M273.554 24.1933C273.554 23.2046 273.209 22.3887 272.533 21.6982C271.858 21.0078 271.01 20.6782 270.036 20.6782C269.062 20.6782 268.214 21.0234 267.523 21.6982C266.816 22.373 266.471 23.2203 266.471 24.1933V46.5707C266.471 47.5593 266.816 48.3753 267.523 49.0658C268.23 49.7563 269.062 50.0857 270.036 50.0857C271.01 50.0857 271.842 49.7406 272.533 49.0658C273.225 48.391 273.554 47.5436 273.554 46.5707V24.1933ZM270.193 14.5425C272.91 14.5425 275.219 15.4996 277.135 17.4141C279.036 19.3286 279.994 21.6354 279.994 24.3345V46.6491C279.994 49.3639 279.036 51.6706 277.12 53.5851C275.204 55.4839 272.895 56.4412 270.193 56.4412C267.491 56.4412 265.167 55.484 263.266 53.5695C261.366 51.655 260.423 49.3482 260.423 46.6491V24.3345C260.423 21.6197 261.381 19.3129 263.298 17.3984C265.214 15.4996 267.507 14.5425 270.193 14.5425Z" fill="#33414B"/>
              <path d="M299.047 24.9145C299.047 23.8474 298.733 22.9843 298.089 22.3409C297.445 21.6818 296.597 21.3522 295.529 21.3522H291.806V34.4398H295.529C296.518 34.4398 297.335 34.0945 298.026 33.3883C298.701 32.6821 299.047 31.8505 299.047 30.8776V24.8987V24.9145ZM295.34 15.0596C298.34 15.0596 300.743 16.0011 302.518 17.8999C304.167 19.7045 305 22.0114 305 24.8203V30.752C305 33.4511 304.058 35.7579 302.173 37.6724C300.288 39.5869 298.01 40.544 295.324 40.544H291.759V55.9383H285.586V15.0596H295.324H295.34Z" fill="#33414B"/>
            </g>
          </g>
          <defs>
          <clipPath id="clip0_515_1533">
            <rect width="305" height="72" fill="white"/>
          </clipPath>
          <clipPath id="clip1_515_1533">
            <rect width="120.222" height="41.9152" fill="white" transform="translate(184.778 14.5425)"/>
          </clipPath>
          </defs>
        </svg>
        .text-style-375-body Девелопер проекту
      .bgtitle our Team
    each val in teams
      .team__item
        .team__item-img
          if val.img
            img(src=val.img, alt=val.title  loading="lazy")
          .team__item-subtitle.text-style-1920-small-buttons.color-white-bb= val.subtitle
        .team__item-text
          .team__item-title.text-style-1920-h-5.color-white-light= val.title
          .team__item-description.text-style-1920-body.color-white-bb !{val.text}
          if val.instagram
            a(href=val.instagram.href, target="_blank", class="team__item-link").button-small.team__item-button
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.0029 5C13.8266 5 14.0609 5.00758 14.7861 5.04199C15.5268 5.07472 16.0452 5.19588 16.5039 5.37305C16.9871 5.55507 17.4272 5.84158 17.791 6.20996L17.5898 6.41504L17.7949 6.21387L17.9287 6.35156C18.2354 6.68652 18.4731 7.07577 18.6348 7.50293C18.8123 7.95976 18.9331 8.48117 18.9658 9.22168C18.9976 9.9447 19 10.179 19 12.001C19 13.8248 18.9917 14.0584 18.96 14.7803C18.9273 15.5218 18.8062 16.041 18.6289 16.5C18.2508 17.4776 17.4778 18.2508 16.5 18.6289C16.043 18.8066 15.5214 18.9273 14.7803 18.96C14.0579 18.9918 13.8245 19 12 19C10.1756 19 9.94201 18.9918 9.21973 18.96C8.47871 18.9273 7.95983 18.8071 7.50098 18.6299C7.01702 18.4475 6.57606 18.1603 6.21191 17.791L6.21387 17.792L6.41602 17.5869L6.21094 17.7891L6.21191 17.791C5.84283 17.4272 5.55621 16.989 5.37109 16.5C5.1936 16.0433 5.07273 15.5217 5.04004 14.7812C5.00831 14.059 5 13.8251 5 12.001C5 10.1776 5.00757 9.9438 5.04199 9.21875C5.0747 8.47806 5.19585 7.95971 5.37305 7.50098C5.53264 7.07775 5.77237 6.6874 6.07715 6.35254L6.20996 6.21387L6.41602 6.41504L6.21387 6.20996C6.57831 5.83827 7.01646 5.55447 7.50391 5.37012C7.9606 5.19283 8.48212 5.07269 9.22266 5.04004C9.945 5.00832 10.1784 5 12.0029 5ZM11.999 8.68359C10.1687 8.68379 8.68379 10.1687 8.68359 11.999C8.68359 13.8296 10.1686 15.3152 11.999 15.3154C13.8297 15.3154 15.3154 13.8297 15.3154 11.999C15.3152 10.1685 13.8296 8.68359 11.999 8.68359ZM16.0527 6.47363C15.239 6.47363 14.5791 7.13326 14.5791 7.94727C14.5792 8.76105 15.239 9.4209 16.0527 9.4209C16.8665 9.42084 17.5263 8.76104 17.5264 7.94727C17.5264 7.13326 16.8666 6.47369 16.0527 6.47363Z" fill="#808060"/>
              </svg>
              span #{val.instagram.title}
